
ass2/outputs/best_model.sav
ass2/outputs/checkpoint-1655-epoch-1/scheduler.pt
ass2/outputs/checkpoint-1655-epoch-1/optimizer.pt
ass2/outputs/pytorch_model.bin
ass2/outputs/checkpoint-1655-epoch-1/pytorch_model.bin
